@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Lato');

/*GLOBAL*/

/**{outline: dotted yellow;}*/

body{
  margin: 0;
  background-image: radial-gradient(circle at top right, rgba(44, 148, 198, 0.4), rgba(44, 148, 198, 1));
  overflow: hidden;
}

.App {
  position:relative;
  height:100vh;
}

.wrapper{
    position: relative;
    margin: 0 auto;
    width:100%;
    height:100%;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

a{
  color: inherit;
}

li{
  list-style-type: none;
}

p, ul, h4, h3 {
  margin: 0;
}

.close {
  position: absolute;
  cursor:pointer;
  z-index: 0;
  transition: 0.5s;
  border: none;
  background-color: #66a2bf;
  font-weight: bold;
  font-size: 0.8em;
  color: white;
  opacity: 0.9;
  display: none;
}

.close:hover {
  color:#325b71;
}

.hide {
  display: none;
}

/*BACKGROUND MAP*/

.mapDiv {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.2;
  width: 100%;
  height: 100%;
}

/*HEADER*/
header{
  text-shadow: -1px -1px 1px #fff, 1px 1px 1px #00273a;
  opacity: 0.4;
  font-family: 'Lato', sans-serif;
  letter-spacing: 3px;
  font-size: 2.3em;
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
}

/*PANELS*/

.a, .b, .c {
  overflow: hidden;
}

.panel{
  font-family: 'Poppins', sans-serif;
  color: rgba(255, 255, 255, 1);
  text-align: left;
  position:absolute;
  bottom: 0;
  right: 0;
  transition: 0.3s;
}

.hideContent .titleText {
  text-align: center;
  padding: 0;
}

/*CONTENT*/

.panelContent {
    height: 100%;
}

.panelContent .contentText{
    color: rgba(255, 255, 255, 0.1);
    width: 90%;
    margin: 0 auto;
}

.panelContent img{
    opacity: 0.2;
}

.hideContent div, .hideContent img, .hideContent a{
  opacity: 0;
  background-color: none;
  display: none;
  transition: 0.5s;
}

.titleText{
  font-family: 'Lato', sans-serif;
  letter-spacing: 3px;
  font-size: 2em;
  color: rgba(255, 255, 255, 0.4);
  display: block;
  transition: 0.5s;
  padding-left: 15px;
  padding-bottom: 20px;
}

.titleTextd {
  padding-bottom: 0;
}

.brightPanel h3, .brightPanel .contentText, .brightPanel img, .brightPanel .titleText{
  color: rgba(255, 255, 255, 1);
  opacity: 1;
}

.hideContent h3{
  font-size: 1em;
  /*margin: 5px 0 150px 5px;*/
  color: rgba(255, 255, 255, 1);
  background-color: none;
}

/* panel a */

.a{
  width: 200px;
  height: 200px;
  z-index: 4;
  background-color: rgba(65, 23, 134, 0.6);
}

.contactText {
  font-size: 0.8em;
  margin: 0 5px 0 5px;
}

.contactText img {
  /*padding: 3px;*/
  float: left;
}

.contactText p {
  padding-top: 4px;
}

#contactTextFix {
  padding-top: 1px;
}

.hidepanela{
  position: absolute;
  width: 200px;
  height: 50px;
  cursor: pointer;
}

/*.a .panelContent{
  background-color: rgb(58,64,160);
  box-shadow: 0 0 10px 1px rgb(58,64,160);
}*/

/* panel b */

.b{
  width: 260px;
  height: 495px;
  z-index: 3;
  background-color: rgba(37, 145, 255, 0.6);
}

.b .contentText {
  padding-top: 0;
}

.b img {
  width: 100%;
  padding-bottom: 15px;
}

.hidepanelb{
  position: absolute;
  width: 200px;
  height:100px;
  cursor:pointer;
}

/* panel c */

.c{
  width: 600px;
  height: 436px;
  z-index: 2;
  background-color: rgba(18, 35, 47, 0.6);
}

.hidepanelc{
  height: 150px;
  width: 200px;
  cursor:pointer;
}

.iconGallery{
  text-align: center;
}

.iconGallery img{
  width: 40px;
  height: 40px;
  padding: 20px 10px 0 10px;
}


/* panel d */

.d{
  height:100vh;
  z-index: 1;
  width: 100%;
}

.titleTextd{
  text-align: center;
}

/* SAMPLES */
.sampleWrap{
  text-align: center;
  padding: 10% 0 0 0;
}

.sampleImg{
  width: 24%;
  margin: 0 0.5% 0 0.5%;
  cursor: pointer;
  height: auto;
  transition: 0.5s;
}

.sampleWrap img{
  border-radius: 15px;
  box-shadow: 0 0 5px 2px rgba(0,0,0,.35);
}

.lightBox {
  top:0;
  height: 100vh;
  width: 100%;
  position: fixed;
  background: rgba(14, 62, 84, 0.83);
  z-index: 999;
  overflow: auto;
}

.lightBox p {
  text-align: left;
  width: 70%;
  margin: 0 auto;
  padding: 10px 0 10px 0;
}

.lightBox img {
  width: 30%;
  margin: 30px;
}

.lightBoxClose {
  display: block;
  top: 25px;
  right:25px;
}

.hidden{
  opacity: 0;
  cursor: default;
}

.sampleWrap .selectedSample{
  box-shadow: 0 0 5px 2px #ffffff;
}


/*RESPONSIVE*/
@media screen and (max-width:660px), screen and (max-height:450px){

  /*GLOBAL*/
  .wrapper{
    width: 100%;
  }

  /*PANELS*/

  .panel {
    height: 100%;
    opacity: 0.9;
  }

  .a, .b, .c, .hidepanela, .hidepanelb, .hidepanelc{
    width: 100%;
  }

  .close {
    top: 10px;
    right: 10px;
    display: block;
  }

  /*.a */

  .a:not(.hidepanela){
    background-color:#3940a0;
  }

  .hidepanela{
    height: 50px;
  }

  #linkedin {
    width: 100px;
    margin: auto;
  }

  #email {
    width: 190px;
    margin: auto;
  }

  /*.b*/

  .b:not(.hidepanelb){
    background-color: #317ec3;
  }

  .hidepanelb{
    height: 100px;
    width: 100%;
  }

  .b img {
    display: block;
    margin: 0 auto;
    width: 50%;
  }

  /*.c*/

  .c:not(.hidepanelc){
    background-color: #476c7f;
  }

  .hidepanelc{
    height: 150px;
  }

  .iconGallery img {
    width: 30px;
    height: 30px;
    padding: 15px 7px 15px 7px;
  }

  /*.d*/

  .titleText {
    text-align: center;
  }

  .sampleImg {
    width: 20%;
    margin: 5px 0 5px 0;
  }

}/*max-width: 660px*/

@media screen and (max-height:450px){

  .b img {
    width: 30%;
  }

  .sampleWrap{
    padding:0;
  }

}

@media screen and (max-height:350px){

  .titleText {
    padding: 0;
  }

  .iconGallery img{
    padding: 0 10px 0 10px;
    width: 20px;
    height: 20px;
  }

}

@media screen and (max-width:400px){


  .hidepanela{
    height: 50px;
  }

  .hidepanelb{
    height: 100px;
  }

  .hidepanelc{
    height: 150px;
  }

  /*SAMPLES*/

  .sampleImg {
    position: static;
    float: left;
    clear: left;
  }
}/*max-width: 400px*/
